In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv('Resources/cleaned_telecom_data.csv')
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7043.000000
mean        0.162147    32.371149       64.761692   2283.294871
std         0.368612    24.559481       30.090047   2265.000262
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    402.225000
50%         0.000000    29.000000       70.350000   1400.550000
75%         0.000000    55.000000       89.850000   3786.600000
max         1.000000    72.000000      118.750000   8684.800000

In [4]:
for column in df.columns:
    # Get the unique values of the column
    unique_values = df[column].unique()
    
    # Print the column name and its unique values
    print(f"Column: {column}")
    print(unique_values)
    print()

Column: gender
['Female' 'Male']

Column: SeniorCitizen
[0 1]

Column: Partner
['Yes' 'No']

Column: Dependents
['No' 'Yes']

Column: tenure
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]

Column: PhoneService
['No' 'Yes']

Column: MultipleLines
['No phone service' 'No' 'Yes']

Column: InternetService
['DSL' 'Fiber optic' 'No']

Column: OnlineSecurity
['No' 'Yes' 'No internet service']

Column: OnlineBackup
['Yes' 'No' 'No internet service']

Column: DeviceProtection
['No' 'Yes' 'No internet service']

Column: TechSupport
['No' 'Yes' 'No internet service']

Column: StreamingTV
['No' 'Yes' 'No internet service']

Column: StreamingMovies
['No' 'Yes' 'No internet service']

Column: Contract
['Month-to-month' 'One year' 'Two year']

Column: PaperlessBilling
['Yes' 'No']

Column: PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Column: MonthlyCharges
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

Column: TotalCharges
[  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]

Column: Churn
['No' 'Yes']

In [5]:
def generate_fake_data(num_samples):
    data = []
    for _ in range(num_samples):
        phone_service = random.choice(['Yes', 'No'])
        if phone_service == 'Yes':
            multiple_lines = random.choice(['Yes', 'No'])
        else:
            multiple_lines = 'No phone service'

        internet_service = random.choice(['DSL', 'Fiber optic']) if phone_service == 'No' else random.choice(['DSL', 'Fiber optic', 'No'])

        sample = {
            'gender': random.choice(['Female', 'Male']),
            'SeniorCitizen': random.choice([0, 1]),
            'Partner': random.choice(['Yes', 'No']),
            'Dependents': random.choice(['Yes', 'No']),
            'tenure': random.randint(0, 72),
            'PhoneService': phone_service,
            'MultipleLines': multiple_lines,
            'InternetService': internet_service,
            'OnlineSecurity': 'No internet service' if internet_service == 'No' else random.choice(['Yes', 'No']),
            'OnlineBackup': 'No internet service' if internet_service == 'No' else random.choice(['Yes', 'No']),
            'DeviceProtection': 'No internet service' if internet_service == 'No' else random.choice(['Yes', 'No']),
            'TechSupport': 'No internet service' if internet_service == 'No' else random.choice(['Yes', 'No']),
            'StreamingTV': 'No internet service' if internet_service == 'No' else random.choice(['Yes', 'No']),
            'StreamingMovies': 'No internet service' if internet_service == 'No' else random.choice(['Yes', 'No']),
            'Contract': random.choice(['Month-to-month', 'One year', 'Two year']),
            'PaperlessBilling': random.choice(['Yes', 'No']),
            'PaymentMethod': random.choice(['Electronic check', 'Mailed check', 'Bank transfer (automatic)', 'Credit card (automatic)']),
            'MonthlyCharges': random.uniform(18.25, 118.75),
        }
        # If tenure is 0, assume they paid for their first month.
        sample['TotalCharges'] = (sample['tenure'] + 1) * sample['MonthlyCharges']

        data.append(sample)
    
    return pd.DataFrame(data)

In [6]:
test_data = generate_fake_data(50)

In [7]:
test_data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,1,Yes,No,0,Yes,Yes,DSL,Yes,No,No,Yes,Yes,Yes,Two year,No,Credit card (automatic),36.887162,36.887162
1,Female,1,Yes,Yes,29,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Two year,No,Mailed check,18.752696,562.580875
2,Female,0,No,No,65,No,No phone service,Fiber optic,No,No,No,No,No,Yes,Two year,No,Credit card (automatic),72.966577,4815.794099
3,Female,1,Yes,No,3,Yes,Yes,Fiber optic,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,111.283030,445.132122
4,Male,1,No,No,49,Yes,No,DSL,No,No,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,96.428205,4821.410267